@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-link {
  padding: 10px;
  border-radius: 6px;
  font-weight: 500;
  color: #374151;
  display: block;
}

.nav-link.active {
  background-color: #eef2ff;
  color: #4338ca;
}
